{% extends "base.j2" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="row my-5">
        <div class="col">
            {{ content }}
        </div>
    </div>
{% endblock %}